.UploadPhoto {
	text-align: right;
	margin-top: 32px;
	margin-bottom: 30px;
}

.fa-plus-square {
	width: 30px;
	margin-right: 10px;
	color: rgb(95, 95, 95);
}

.UploadPhoto-button {
	padding: 15px 20px 10px 23px !important;
	border-radius: 30px !important;
	border: 1px solid rgb(179, 179, 179) !important;
}
